.container
  %section
    %h2.title.sixteen.columns.alpha
      =t('musicas.index.title')
    - if current_usuario
      .admin-links
        = link_to t('musica.new'), new_musica_path, :class => 'button add'  
    .sixteen.columns.alpha.gallery-type.soundcloud
      %ul
        - for musica in @musicas
          %li.columns.thirteen.offset-by-one
            %iframe{:src => 'http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F54864119&show_artwork=true', :width => '100%', :height => '166', :scrolling => 'no', :frameborder => 'no'}
              = link_to t('edit'), edit_musica_path(musica), :class => 'button edit'
              = link_to t('destroy'), musica, :confirm => I18n.t('confirm_delete'), :method => :delete, :class => 'button delete'



