.container
  %section.rotate-prevent
    %h2.title.sixteen.columns.alpha
      =t('contato.new')
    %section.sixteen.columns.alpha
      %header
        %h3 Contrátanos
      .inner.form
        - if notice
          %p#notice
            = notice
        = render 'form'
           
    %section.sixteen.columns.alpha
      %header
        %h3 Datos de contacto
      .inner.datos-contacto.seven.columns.alpha.omega
        %h4 Alvaro Ponde de León
        %span Director
        %p
          %b.email-caracunde alvaro
          (15) 91438743
      .inner.datos-contacto.seven.columns.alpha.omega.offset-by-one
        %h4 Hermeto Pascoal
        %span productor
        %p
          %b.email-caracunde hermeto
          (15) 91438743
      




