/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* HTML5 ? Boilerplate
 * ==|== normalize ==========================================================
 */
/* line 5, ../../app/assets/stylesheets/_base.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 6, ../../app/assets/stylesheets/_base.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 7, ../../app/assets/stylesheets/_base.scss */
audio:not([controls]) {
  display: none;
}

/* line 8, ../../app/assets/stylesheets/_base.scss */
[hidden] {
  display: none;
}

/* line 10, ../../app/assets/stylesheets/_base.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 11, ../../app/assets/stylesheets/_base.scss */
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}

/* line 12, ../../app/assets/stylesheets/_base.scss */
body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 14, ../../app/assets/stylesheets/_base.scss */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 15, ../../app/assets/stylesheets/_base.scss */
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 17, ../../app/assets/stylesheets/_base.scss */
a {
  color: #00e;
}

/* line 18, ../../app/assets/stylesheets/_base.scss */
a:visited {
  color: #551a8b;
}

/* line 19, ../../app/assets/stylesheets/_base.scss */
a:hover {
  color: #ff0000;
}

/* line 20, ../../app/assets/stylesheets/_base.scss */
a:focus {
  outline: thin dotted;
}

/* line 21, ../../app/assets/stylesheets/_base.scss */
a:hover, a:active {
  outline: 0;
}

/* line 23, ../../app/assets/stylesheets/_base.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 24, ../../app/assets/stylesheets/_base.scss */
b, strong {
  font-weight: bold;
}

/* line 25, ../../app/assets/stylesheets/_base.scss */
blockquote {
  margin: 1em 40px;
}

/* line 26, ../../app/assets/stylesheets/_base.scss */
dfn {
  font-style: italic;
}

/* line 27, ../../app/assets/stylesheets/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 28, ../../app/assets/stylesheets/_base.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 29, ../../app/assets/stylesheets/_base.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 30, ../../app/assets/stylesheets/_base.scss */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 31, ../../app/assets/stylesheets/_base.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 32, ../../app/assets/stylesheets/_base.scss */
q {
  quotes: none;
}

/* line 33, ../../app/assets/stylesheets/_base.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 34, ../../app/assets/stylesheets/_base.scss */
small {
  font-size: 85%;
}

/* line 35, ../../app/assets/stylesheets/_base.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 36, ../../app/assets/stylesheets/_base.scss */
sup {
  top: -0.5em;
}

/* line 37, ../../app/assets/stylesheets/_base.scss */
sub {
  bottom: -0.25em;
}

/* line 38, ../../app/assets/stylesheets/_base.scss */
ul, ol {
  margin: 0;
  padding: 0;
}

/* line 39, ../../app/assets/stylesheets/_base.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 40, ../../app/assets/stylesheets/_base.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 41, ../../app/assets/stylesheets/_base.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 42, ../../app/assets/stylesheets/_base.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 43, ../../app/assets/stylesheets/_base.scss */
figure {
  margin: 0;
}

/* line 45, ../../app/assets/stylesheets/_base.scss */
form {
  margin: 0;
}

/* line 46, ../../app/assets/stylesheets/_base.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 47, ../../app/assets/stylesheets/_base.scss */
label {
  cursor: pointer;
}

/* line 48, ../../app/assets/stylesheets/_base.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* line 49, ../../app/assets/stylesheets/_base.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 50, ../../app/assets/stylesheets/_base.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/* line 51, ../../app/assets/stylesheets/_base.scss */
table button, table input {
  *overflow: auto;
}

/* line 52, ../../app/assets/stylesheets/_base.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 53, ../../app/assets/stylesheets/_base.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 54, ../../app/assets/stylesheets/_base.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 55, ../../app/assets/stylesheets/_base.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 56, ../../app/assets/stylesheets/_base.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 57, ../../app/assets/stylesheets/_base.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 59, ../../app/assets/stylesheets/_base.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 61, ../../app/assets/stylesheets/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 62, ../../app/assets/stylesheets/_base.scss */
td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ======================================== */
/* line 67, ../../app/assets/stylesheets/_base.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 68, ../../app/assets/stylesheets/_base.scss */
.ir br {
  display: none;
}

/* line 69, ../../app/assets/stylesheets/_base.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 70, ../../app/assets/stylesheets/_base.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 71, ../../app/assets/stylesheets/_base.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 72, ../../app/assets/stylesheets/_base.scss */
.invisible {
  visibility: hidden;
}

/* line 73, ../../app/assets/stylesheets/_base.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 74, ../../app/assets/stylesheets/_base.scss */
.clearfix:after {
  clear: both;
}

/* line 75, ../../app/assets/stylesheets/_base.scss */
.clearfix {
  zoom: 1;
}

/* ==|== print styles ======================================================= */
@media print {
  /* line 81, ../../app/assets/stylesheets/_base.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 82, ../../app/assets/stylesheets/_base.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 83, ../../app/assets/stylesheets/_base.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 84, ../../app/assets/stylesheets/_base.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 85, ../../app/assets/stylesheets/_base.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 86, ../../app/assets/stylesheets/_base.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 87, ../../app/assets/stylesheets/_base.scss */
  thead {
    display: table-header-group;
  }

  /* line 88, ../../app/assets/stylesheets/_base.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 89, ../../app/assets/stylesheets/_base.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 91, ../../app/assets/stylesheets/_base.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 92, ../../app/assets/stylesheets/_base.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* 
================================================== 
DEFAULT
================================================== 
*/
/* line 104, ../../app/assets/stylesheets/_base.scss */
body {
  font: normal normal 16px/145% Arial, Helvetica, sans-serif;
  background: black;
  overflow: hidden;
}

/* line 106, ../../app/assets/stylesheets/_base.scss */
a {
  -moz-transition: all 0.3s ease-out;
  /* FF3.7+ */
  -o-transition: all 0.3s ease-out;
  /* Opera 10.5 */
  -webkit-transition: all 0.3s ease-out;
  /* Saf3.2+, Chrome */
  transition: all 0.3s ease-out;
  text-decoration: none;
}

/* line 114, ../../app/assets/stylesheets/_base.scss */
p {
  text-align: justify;
  font-size: 0.9em;
}

/* line 117, ../../app/assets/stylesheets/_base.scss */
p, div, span, a, a:visited,
h1, h2, h3,
h4, h5, h6 {
  color: white;
}

/* Skeleton Responsive
================================================== */
/* line 124, ../../app/assets/stylesheets/_base.scss */
img, iframe {
  width: 100%;
}

/* 
================================================== 
TIPOGRAPHY
================================================== 
*/
/* Headings
================================================== */
/* line 137, ../../app/assets/stylesheets/_base.scss */
h1, h2, h3,
h4, h5, h6 {
  font-family: 'Capriola';
}

/* line 141, ../../app/assets/stylesheets/_base.scss */
h1.title,
h2.title,
h6.title {
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
  text-align: right;
}

/* line 144, ../../app/assets/stylesheets/_base.scss */
h1.title img,
h2.title img {
  width: auto;
  position: relative;
  top: -7px;
  margin-right: 5px;
}

/* Bodytext
================================================== */
/* line 148, ../../app/assets/stylesheets/_base.scss */
p, div, span, li, dt, dt {
  font-family: 'Capriola';
}

/* line 149, ../../app/assets/stylesheets/_base.scss */
p {
  text-align: justify;
}

/* 
================================================== 
HEADER
================================================== 
*/
/* line 157, ../../app/assets/stylesheets/_base.scss */
header.main {
  position: relative;
}

/* line 158, ../../app/assets/stylesheets/_base.scss */
header.main #slider {
  height: 700px;
  position: relative;
  top: -80px;
  overflow: hidden;
}

/* line 159, ../../app/assets/stylesheets/_base.scss */
header.main #logo {
  width: 100%;
  position: absolute;
  left: 0;
  top: 60%;
  text-align: center;
  z-index: 5999;
}

/* line 160, ../../app/assets/stylesheets/_base.scss */
header.main #logo span {
  display: none;
}

/* line 161, ../../app/assets/stylesheets/_base.scss */
header.main #logo {
  text-align: center;
}

/* line 162, ../../app/assets/stylesheets/_base.scss */
header.main #logo a {
  margin: 0 auto;
  display: inline-block;
  float: none;
}

/* line 163, ../../app/assets/stylesheets/_base.scss */
header.main .menu {
  height: 40px;
  margin-left: 30px;
}

/* line 164, ../../app/assets/stylesheets/_base.scss */
header.main .menu ul {
  float: left;
}

/* line 165, ../../app/assets/stylesheets/_base.scss */
header.main .menu nav {
  background: black;
  -moz-border-radius: 0 0 15px 15px;
  -webkit-border-radius: 0 0 15px 15px;
  -o-border-radius: 0 0 15px 15px;
  -ms-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px;
}

/* line 167, ../../app/assets/stylesheets/_base.scss */
header.main .menu li {
  float: left;
  list-style: none;
  margin: 0;
}

/* line 169, ../../app/assets/stylesheets/_base.scss */
header.main .menu li a,
header.main .menu li span {
  color: white;
  padding: 12px 13px 14px;
  float: left;
  text-transform: uppercase;
}

/* line 171, ../../app/assets/stylesheets/_base.scss */
header.main .menu li a:hover,
header.main .menu li span {
  color: #ff0000;
}

/* line 172, ../../app/assets/stylesheets/_base.scss */
header.main .menu ul.countries {
  margin: 8px 0 0 0;
  float: right;
  padding-right: 10px;
}

/* line 173, ../../app/assets/stylesheets/_base.scss */
header.main .menu ul.countries li a {
  padding: 2px 4px;
  opacity: 0.5;
}

/* line 177, ../../app/assets/stylesheets/_base.scss */
header.main .menu ul.countries li a:hover,
header.main .menu ul.countries.es li.peru a,
header.main .menu ul.countries.en li.usa a,
header.main .menu ul.countries.pt li.brazil a {
  opacity: 1;
}

/* line 178, ../../app/assets/stylesheets/_base.scss */
#main-menu {
  position: relative;
  z-index: 200;
}

/* line 180, ../../app/assets/stylesheets/_base.scss */
header.main .flex-direction-nav {
  z-index: 400;
  position: absolute;
  top: 100px;
  left: 0;
}

/* line 181, ../../app/assets/stylesheets/_base.scss */
header.main .flexslider.carousel .flex-direction-nav {
  display: none;
}

/* line 182, ../../app/assets/stylesheets/_base.scss */
.flex-direction-nav .flex-prev {
  left: 10px !important;
  opacity: 1 !important;
}

/* line 183, ../../app/assets/stylesheets/_base.scss */
.flex-direction-nav .flex-next {
  right: 20px !important;
  opacity: 1 !important;
}

/* rotation */
/* line 189, ../../app/assets/stylesheets/_base.scss */
.region.border-region {
  position: relative;
  padding-bottom: 200px;
}

/* line 190, ../../app/assets/stylesheets/_base.scss */
.region.border-region:after {
  content: "";
  visibility: visible;
  z-index: 20px;
  background: black;
  border-top: 40px solid white;
  position: absolute;
  bottom: -100px;
  left: -10%;
  width: 120%;
  height: 200px;
  -moz-transform: rotate(-2deg);
}

/* line 193, ../../app/assets/stylesheets/_base.scss */
header.region.border-region {
  height: 560px;
}

/* line 194, ../../app/assets/stylesheets/_base.scss */
header.region.border-region:after {
  border-color: transparent;
}

/* line 195, ../../app/assets/stylesheets/_base.scss */
header.region.border-region .container {
  top: 0;
}

/* line 196, ../../app/assets/stylesheets/_base.scss */
#preface-bottom {
  background: black;
}

/* line 197, ../../app/assets/stylesheets/_base.scss */
#preface-bottom:after {
  background: #ff0000;
}

/* line 198, ../../app/assets/stylesheets/_base.scss */
.region.border-region .container {
  position: relative;
  top: -25px;
}

/* 
================================================== 
FOOTER
================================================== 
*/
/* line 206, ../../app/assets/stylesheets/_base.scss */
footer.main {
  overflow: visible;
}

/* line 207, ../../app/assets/stylesheets/_base.scss */
footer p {
  text-align: center;
  margin-bottom: 0;
}

/* line 208, ../../app/assets/stylesheets/_base.scss */
footer #footer-bottom {
  border-top: 1px solid #ff0000;
}

/* line 209, ../../app/assets/stylesheets/_base.scss */
footer #footer-bottom p {
  text-align: left;
}

/* line 210, ../../app/assets/stylesheets/_base.scss */
footer #footer-bottom p#author {
  text-align: right;
}

/*
=============================================
REGIONS
=============================================
*/
/* line 218, ../../app/assets/stylesheets/_base.scss */
div.region {
  width: 100%;
  background: black;
}

/* line 220, ../../app/assets/stylesheets/_base.scss */
.front #content,
.front #content-inner {
  background: #ff0000;
}

/* line 221, ../../app/assets/stylesheets/_base.scss */
.region.fancy {
  border-color: white;
  border-width: 40px 0 0px;
  border-style: solid;
}

/* line 222, ../../app/assets/stylesheets/_base.scss */
#content-inner.region {
  padding: 0;
}

/* line 225, ../../app/assets/stylesheets/_base.scss */
#facebook-comments .fb-comments,
#facebook-comments .fb-comments * {
  width: 100% !important;
}

/*
=============================================
CONTENT TYPES
=============================================
*/
/* line 234, ../../app/assets/stylesheets/_base.scss */
article h2 {
  font-size: 1.2em;
  border-bottom: 1px solid #ff0000;
  text-transform: uppercase;
  margin-bottom: 5px;
}

/* line 235, ../../app/assets/stylesheets/_base.scss */
.btn {
  min-width: 190px;
  height: 40px;
  padding: 0 10px;
  line-height: 260%;
  display: block;
  font-size: 0.9em;
  text-align: center;
}

/* line 236, ../../app/assets/stylesheets/_base.scss */
.btn.read-more {
  background: #4d4d4d;
}

/* line 237, ../../app/assets/stylesheets/_base.scss */
.btn.date {
  background: #4d0000;
  text-align: right;
}

/* line 239, ../../app/assets/stylesheets/_base.scss */
article footer,
.footer {
  width: 100%;
  padding: 20px 0 0;
  border-top: 1px solid #ff0000;
  float: left;
  margin-top: 10px;
}

/* line 240, ../../app/assets/stylesheets/_base.scss */
article footer .first {
  float: left;
}

/* line 241, ../../app/assets/stylesheets/_base.scss */
article footer .last {
  float: right;
}

/*
=============================================
PAGES
=============================================
*/
/* line 252, ../../app/assets/stylesheets/_base.scss */
section header,
article header {
  width: 100%;
  padding-bottom: 15px;
  float: left;
  border-bottom: 1px solid #ff0000;
}

/* line 253, ../../app/assets/stylesheets/_base.scss */
header h3 {
  background: white;
  padding: 5px 10px;
  margin-bottom: 5px;
  color: black;
  position: relative;
  float: left;
  font-size: 1.1em;
  text-transform: uppercase;
}

/* line 254, ../../app/assets/stylesheets/_base.scss */
#contatos.new section .inner {
  padding-top: 100px;
}

/* line 255, ../../app/assets/stylesheets/_base.scss */
#contatos.new section .inner.form {
  text-align: center;
}

/* line 256, ../../app/assets/stylesheets/_base.scss */
#contatos.new section .inner form {
  float: none;
  display: inline-block;
}

/* line 257, ../../app/assets/stylesheets/_base.scss */
#contatos.new section .inner form .field {
  float: left;
  clear: left;
}

/* line 258, ../../app/assets/stylesheets/_base.scss */
#contatos.new section .inner form .field label {
  width: 80px;
  margin-right: 10px;
}

/* line 261, ../../app/assets/stylesheets/_base.scss */
#contatos.new section .inner form .field label,
#contatos.new section .inner form .field input,
#contatos.new section .inner form .field textarea {
  float: left;
  font-size: 14px;
  font-family: 'Capriola';
}

/* line 263, ../../app/assets/stylesheets/_base.scss */
#contatos.new section .inner form .field input,
#contatos.new section .inner form .field textarea {
  background: #b30000;
  border: 0;
  color: white;
}

/* line 265, ../../app/assets/stylesheets/_base.scss */
#contatos.new section .inner form .field input:focus,
#contatos.new section .inner form .field textarea:focus {
  background: #b3b3b3;
  color: black;
}

/* line 267, ../../app/assets/stylesheets/_base.scss */
#contatos.new section .inner form .field input,
#contatos.new section .inner form .field textarea {
  width: 200px;
}

/* line 268, ../../app/assets/stylesheets/_base.scss */
#contatos.new section .inner form .field textarea {
  height: 92px;
}

/* line 269, ../../app/assets/stylesheets/_base.scss */
#contatos.new section .inner form .actions {
  width: 300px;
  text-align: right;
}

/* line 270, ../../app/assets/stylesheets/_base.scss */
#contatos.new section .inner form .actions input {
  width: 110px;
  height: 45px;
  display: inline;
  border: 0;
  text-indent: -99999px;
  cursor: pointer;
  background: url(../images/backgrounds/btn-enviar.png) no-repeat 0 0;
}

/* line 275, ../../app/assets/stylesheets/_base.scss */
.column-personal-info,
.column-message {
  width: 50%;
  float: left;
}

/* line 278, ../../app/assets/stylesheets/_base.scss */
#contatos.new section .inner.datos-contacto h4 {
  font-size: 2.2em;
  font-weight: normal;
  white-space: nowrap;
}

/* line 279, ../../app/assets/stylesheets/_base.scss */
#contatos.new section .inner.datos-contacto * {
  font-size: 1.4em;
}

/* line 280, ../../app/assets/stylesheets/_base.scss */
#contatos.new section .inner.datos-contacto * * {
  font-size: inherit;
}

/* line 281, ../../app/assets/stylesheets/_base.scss */
#contatos.new section .inner.datos-contacto span {
  margin-bottom: 30px;
  display: block;
  text-transform: uppercase;
}

/* line 282, ../../app/assets/stylesheets/_base.scss */
#contatos.new section .inner.datos-contacto p b.email-caracunde {
  font-weight: normal;
  display: block;
}

/* line 283, ../../app/assets/stylesheets/_base.scss */
#contatos.new section .inner.datos-contacto p b.email-caracunde:after {
  content: "@caracunde.com";
}

/* line 286, ../../app/assets/stylesheets/_base.scss */
#integrantes article figure,
#integrantes .figure {
  float: right;
  position: relative;
  top: -11px;
}

/* line 287, ../../app/assets/stylesheets/_base.scss */
#integrantes article footer {
  padding-top: 15px;
}

/* line 288, ../../app/assets/stylesheets/_base.scss */
#integrantes article footer .btn {
  float: left;
  background: #4d4d4d;
  position: relative;
}

/* line 289, ../../app/assets/stylesheets/_base.scss */
#integrantes article footer .btn:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 98%;
  left: 20px;
  border-color: transparent transparent #4d4d4d transparent;
  border-style: solid;
  border-width: 10px;
}

/* line 291, ../../app/assets/stylesheets/_base.scss */
#integrantes article footer a.link.back {
  text-transform: uppercase;
}

/* line 293, ../../app/assets/stylesheets/_base.scss */
#integrantes.show article figure,
#integrantes.show .figure {
  margin-left: 20px;
}

/* line 298, ../../app/assets/stylesheets/_base.scss */
#home section header,
#home article header
#posts section header,
#posts article header {
  padding-bottom: 0;
  border: 0;
  margin-bottom: 10px;
}

/* line 299, ../../app/assets/stylesheets/_base.scss */
#posts article:nth-of-type(2n+1) {
  clear: left;
}

/* line 300, ../../app/assets/stylesheets/_base.scss */
#posts .top-date {
  position: absolute;
  top: -70px;
  right: 0;
  background: #4d0000;
  text-align: right;
}

/* line 301, ../../app/assets/stylesheets/_base.scss */
#posts .sixteen {
  position: relative;
}

/* line 303, ../../app/assets/stylesheets/_base.scss */
#posts.show article figure,
#posts.show .figure {
  float: right;
  position: relative;
  top: -10px;
}

/* line 304, ../../app/assets/stylesheets/_base.scss */
footer .btn {
  position: relative;
  text-transform: uppercase;
}

/* line 305, ../../app/assets/stylesheets/_base.scss */
.footer a.link {
  text-transform: uppercase;
}

/*
=============================================
SOCIAL LINKS
=============================================
*/
/* line 314, ../../app/assets/stylesheets/_base.scss */
.social {
  width: 200px;
  height: 70px;
  background: url(../images/global.png) no-repeat 0 0px;
}

/* line 315, ../../app/assets/stylesheets/_base.scss */
.social li {
  float: left;
  margin-right: 3px;
  margin-top: 25px;
}

/* line 316, ../../app/assets/stylesheets/_base.scss */
.social li a {
  width: 25px;
  height: 20px;
  display: block;
  background: url(../images/global.png) no-repeat 0 -3px;
  -moz-transition: none;
  -webkit-transition: none;
  transition: none;
}

/* line 319, ../../app/assets/stylesheets/_base.scss */
.social li:first-of-type {
  margin-left: 97px;
}

/* line 321, ../../app/assets/stylesheets/_base.scss */
.social li.facebook a {
  width: 20px;
  background-position: -233px -4px;
}

/* line 322, ../../app/assets/stylesheets/_base.scss */
.social li.twitter a {
  background-position: -205px -4px;
}

/* line 323, ../../app/assets/stylesheets/_base.scss */
.social li.rss a {
  background-position: -107px -3px;
}

/* line 324, ../../app/assets/stylesheets/_base.scss */
.social li.pinterest a {
  background-position: -255px -4px;
}

/* line 325, ../../app/assets/stylesheets/_base.scss */
.social li.soundcloud a {
  background-position: 0 -3px;
}

/* line 327, ../../app/assets/stylesheets/_base.scss */
.social li.facebook a:hover {
  background-position: -233px -29px;
}

/* line 328, ../../app/assets/stylesheets/_base.scss */
.social li.twitter a:hover {
  background-position: -205px -29px;
}

/* line 329, ../../app/assets/stylesheets/_base.scss */
.social li.rss a:hover {
  background-position: -107px -29px;
}

/* line 330, ../../app/assets/stylesheets/_base.scss */
.social li.pinterest a:hover {
  background-position: -255px -29px;
}

/* line 331, ../../app/assets/stylesheets/_base.scss */
.social li.soundcloud a:hover {
  background-position: 0 -29px;
}

/*
=============================================
CONTENT TYPES
=============================================
*/
/* line 339, ../../app/assets/stylesheets/_base.scss */
.list-type ul {
  width: 100%;
}

/* line 340, ../../app/assets/stylesheets/_base.scss */
.list-type li {
  width: 300px;
  height: 220px;
  padding: 15px 20px 20px;
  text-align: center;
  color: white;
  float: left;
  margin: 0 12px 30px 0;
  background: white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: box-sizing;
  box-sizing: border-box;
  *behavior: url(javascripts/ie-support/Schepp-box-sizing-polyfill/boxsizing.htc);
}

/* line 343, ../../app/assets/stylesheets/_base.scss */
.list-type li:nth-of-type(odd) {
  clear: left;
}

/* line 344, ../../app/assets/stylesheets/_base.scss */
.list-type li:nth-of-type(even) {
  margin-right: 0;
}

/* line 345, ../../app/assets/stylesheets/_base.scss */
.list-type li h3 {
  border-bottom: 2px solid;
}

/* line 347, ../../app/assets/stylesheets/_base.scss */
.list-type li h3,
.list-type li img {
  padding-bottom: 5px;
}

/* line 348, ../../app/assets/stylesheets/_base.scss */
.list-type li p {
  color: #636363;
  text-align: left;
}

/* div.link-type ul
================================================== */
/* line 353, ../../app/assets/stylesheets/_base.scss */
.link-type li {
  float: left;
  margin-right: 10px;
}

/* line 354, ../../app/assets/stylesheets/_base.scss */
.link-type li:nth-of-type(4n+4) {
  margin-right: 0;
}

/* line 355, ../../app/assets/stylesheets/_base.scss */
.link-type li a {
  width: 46px;
  height: 45px;
  display: block;
  background: url(../images/icons/social-links.png) no-repeat 0 0;
}

/* line 356, ../../app/assets/stylesheets/_base.scss */
.link-type li.facebook a {
  background-position: 0 -2px;
}

/* line 357, ../../app/assets/stylesheets/_base.scss */
.link-type li.twitter a {
  background-position: -54px -2px;
}

/* line 358, ../../app/assets/stylesheets/_base.scss */
.link-type li.rss a {
  background-position: -108px -2px;
}

/* div.gallery-type ul
================================================== */
/* line 363, ../../app/assets/stylesheets/_base.scss */
.gallery-type li.columns {
  float: left;
  margin-right: 90px;
}

/* line 364, ../../app/assets/stylesheets/_base.scss */
.gallery-type li.columns:nth-of-type(4n+4) {
  margin-right: 0;
}

/* line 366, ../../app/assets/stylesheets/_base.scss */
#albums #content .gallery-type li.columns {
  float: left;
  padding-bottom: 15px;
  margin: 0 20px 0px 0;
  border-bottom: 1px solid #ff0000;
}

/* line 367, ../../app/assets/stylesheets/_base.scss */
#albums.show #content .gallery-type li.columns {
  margin: 0 140px 0px 0;
}

/* line 368, ../../app/assets/stylesheets/_base.scss */
#albums #content .gallery-type li.columns:nth-of-type(2n+2) {
  margin-right: 0;
}

/* line 369, ../../app/assets/stylesheets/_base.scss */
#albums #content .gallery-type li.columns h3 {
  margin-bottom: 25px;
  position: relative;
}

/* line 370, ../../app/assets/stylesheets/_base.scss */
#albums #content .gallery-type li.columns h3 a {
  font-size: 0.6em;
  padding: 0px 10px;
  display: block;
  text-transform: uppercase;
  background: white;
  color: black;
}

/* line 372, ../../app/assets/stylesheets/_base.scss */
#videos #content .gallery-type li.columns {
  float: left;
  padding-bottom: 15px;
  margin: 0 20px 0px 0;
  border-bottom: 1px solid #ff0000;
}

/* line 373, ../../app/assets/stylesheets/_base.scss */
#videos #content .gallery-type li.columns:nth-of-type(2n+2) {
  margin-right: 0;
}

/* line 374, ../../app/assets/stylesheets/_base.scss */
#videos #content .gallery-type li.columns h3 {
  margin-bottom: 25px;
  position: relative;
}

/* line 375, ../../app/assets/stylesheets/_base.scss */
#videos #content .gallery-type li.columns h3 a {
  font-size: 0.6em;
  padding: 0px 10px;
  display: block;
  text-transform: uppercase;
  background: white;
  color: black;
}

/* line 376, ../../app/assets/stylesheets/_base.scss */
#videos #content .share-links-type {
  border: 0;
}

/* line 380, ../../app/assets/stylesheets/_base.scss */
#albums #content .gallery-type li.columns:nth-last-child(1),
#albums #content .gallery-type li.columns:nth-last-child(2),
#videos #content .gallery-type li.columns:nth-last-child(1),
#videos #content .gallery-type li.columns:nth-last-child(2) {
  border: 0;
}

/* line 382, ../../app/assets/stylesheets/_base.scss */
a.button {
  color: black;
}

/* line 385, ../../app/assets/stylesheets/_base.scss */
#alert-top {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 200;
  background: green;
}

/* line 387, ../../app/assets/stylesheets/_base.scss */
#alert-top #flash_alert,
#alert-top #flash_notice {
  top: auto;
  padding: 10px 0;
  color: white;
}

/* div.video-type ul
================================================== */
/* div.video-type ul
================================================== */
/* line 396, ../../app/assets/stylesheets/_base.scss */
.share-links-type {
  padding-bottom: 20px;
  border-bottom: 1px solid #ff0000;
}

/* line 397, ../../app/assets/stylesheets/_base.scss */
.share-links-type .inner {
  padding: 5px 5px 4px;
  position: relative;
}

/* line 398, ../../app/assets/stylesheets/_base.scss */
.share-links-type .label {
  margin: 2px 10px 0 8px;
  display: block;
  text-transform: uppercase;
}

/* line 400, ../../app/assets/stylesheets/_base.scss */
.share-links-type .inner,
.share-links-type .label {
  background: white;
  color: black;
  font-size: 0.95em;
  text-transform: uppercase;
}

/* line 404, ../../app/assets/stylesheets/_base.scss */
.share-links-type .label,
.share-links-type .inner,
.share-links-type ul {
  float: left;
}

/* line 405, ../../app/assets/stylesheets/_base.scss */
.share-links-type ul li {
  margin: 0 10px 0 0;
  float: left;
}

/* line 407, ../../app/assets/stylesheets/_base.scss */
.share-links-type ul li.last,
.share-links-type ul li.twitter {
  margin-right: 3px;
}

/* line 408, ../../app/assets/stylesheets/_base.scss */
.share-links-type ul li a {
  width: 20px;
  height: 25px;
  display: block;
  background: url(../images/icons/share-links.png) no-repeat 0 0;
}

/* line 409, ../../app/assets/stylesheets/_base.scss */
.share-links-type ul li.facebook a {
  background-position: 0 -3px;
}

/* line 410, ../../app/assets/stylesheets/_base.scss */
.share-links-type ul li.twitter a {
  width: 27px;
  background-position: -27px -3px;
}

/* div.pagination-type ul
================================================== */
/* line 414, ../../app/assets/stylesheets/_base.scss */
.pagination-type {
  border-top: 1px solid #ff0000;
  margin-top: 5px;
}

/* line 415, ../../app/assets/stylesheets/_base.scss */
.pagination-type ul {
  float: left;
  text-align: left;
}

/* line 416, ../../app/assets/stylesheets/_base.scss */
.pagination-type ul li {
  display: inline;
  margin-right: 10px;
}

/* line 417, ../../app/assets/stylesheets/_base.scss */
.pagination-type ul li a {
  text-transform: uppercase;
  font-size: 1.2em;
}

/* line 418, ../../app/assets/stylesheets/_base.scss */
.pagination-type .btn.back {
  min-width: 100px;
  height: 30px;
  line-height: 200%;
  padding: 0 5px;
  float: right;
  text-transform: uppercase;
  background: white;
  color: black;
  position: relative;
}

/* line 419, ../../app/assets/stylesheets/_base.scss */
.pagination-type .btn.back:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 6px;
  right: 99%;
  border-color: transparent white transparent transparent;
  border-style: solid;
  border-width: 10px;
}

/*
==================================================
DEFAULT BLOCKS
==================================================
*/
/* line 429, ../../app/assets/stylesheets/_base.scss */
.block {
  width: 100%;
  float: left;
}

/* line 433, ../../app/assets/stylesheets/_base.scss */
.block .inner {
  margin: 0 10px;
}

/* line 436, ../../app/assets/stylesheets/_base.scss */
.mtop-1 {
  margin-top: 5px;
}

/* line 437, ../../app/assets/stylesheets/_base.scss */
.mtop-2 {
  margin-top: 10px;
}

/* line 438, ../../app/assets/stylesheets/_base.scss */
.mtop-3 {
  margin-top: 15px;
}

/* line 439, ../../app/assets/stylesheets/_base.scss */
.mtop-4 {
  margin-top: 20px;
}

/* line 440, ../../app/assets/stylesheets/_base.scss */
.mtop-5 {
  margin-top: 25px;
}

/* line 441, ../../app/assets/stylesheets/_base.scss */
.mtop-6 {
  margin-top: 30px;
}

/* line 442, ../../app/assets/stylesheets/_base.scss */
.mtop-7 {
  margin-top: 35px;
}

/* line 443, ../../app/assets/stylesheets/_base.scss */
.mtop-8 {
  margin-top: 40px;
}

/* line 444, ../../app/assets/stylesheets/_base.scss */
.mtop-9 {
  margin-top: 45px;
}

/* line 445, ../../app/assets/stylesheets/_base.scss */
.mtop-10, #footer-bottom {
  margin-top: 50px;
}

/* line 446, ../../app/assets/stylesheets/_base.scss */
.mtop-11 {
  margin-top: 55px;
}

/* line 447, ../../app/assets/stylesheets/_base.scss */
.mtop-12, #albums.show .pagination-type {
  margin-top: 60px;
}

/* line 448, ../../app/assets/stylesheets/_base.scss */
.mtop-13 {
  margin-top: 65px;
}

/* line 449, ../../app/assets/stylesheets/_base.scss */
.mtop-14 {
  margin-top: 70px;
}

/* line 450, ../../app/assets/stylesheets/_base.scss */
.mtop-15 {
  margin-top: 75px;
}

/* line 451, ../../app/assets/stylesheets/_base.scss */
.mtop-16 {
  margin-top: 80px;
}

/* line 452, ../../app/assets/stylesheets/_base.scss */
.mtop-17 {
  margin-top: 85px;
}

/* line 453, ../../app/assets/stylesheets/_base.scss */
.mtop-18 {
  margin-top: 90px;
}

/* line 454, ../../app/assets/stylesheets/_base.scss */
.mtop-19 {
  margin-top: 95px;
}

/* line 455, ../../app/assets/stylesheets/_base.scss */
.mtop-20 {
  margin-top: 100px;
}

/* line 456, ../../app/assets/stylesheets/_base.scss */
.mtop-21 {
  margin-top: 105px;
}

/* line 457, ../../app/assets/stylesheets/_base.scss */
.mtop-22 {
  margin-top: 110px;
}

/* line 458, ../../app/assets/stylesheets/_base.scss */
.mtop-23 {
  margin-top: 115px;
}

/* line 459, ../../app/assets/stylesheets/_base.scss */
.mtop-24 {
  margin-top: 120px;
}

/* line 460, ../../app/assets/stylesheets/_base.scss */
.mtop-25 {
  margin-top: 125px;
}

/* line 461, ../../app/assets/stylesheets/_base.scss */
.mtop-26 {
  margin-top: 130px;
}

/* line 462, ../../app/assets/stylesheets/_base.scss */
.mtop-27 {
  margin-top: 135px;
}

/* line 463, ../../app/assets/stylesheets/_base.scss */
.mtop-28 {
  margin-top: 140px;
}

/* line 464, ../../app/assets/stylesheets/_base.scss */
.mtop-29 {
  margin-top: 145px;
}

/* line 465, ../../app/assets/stylesheets/_base.scss */
.mtop-30 {
  margin-top: 150px;
}

/* line 467, ../../app/assets/stylesheets/_base.scss */
.mbottom-1 {
  margin-bottom: 5px;
}

/* line 468, ../../app/assets/stylesheets/_base.scss */
.mbottom-2, #contatos.new section .inner form .field input, .share-links-type, #contacts.index #content form .field textarea {
  margin-bottom: 10px;
}

/* line 469, ../../app/assets/stylesheets/_base.scss */
.mbottom-3, p {
  margin-bottom: 15px;
}

/* line 470, ../../app/assets/stylesheets/_base.scss */
.mbottom-4, #albums.show .gallery-type li.columns, #content-wrapper .block {
  margin-bottom: 20px;
}

/* line 471, ../../app/assets/stylesheets/_base.scss */
.mbottom-5 {
  margin-bottom: 25px;
}

/* line 472, ../../app/assets/stylesheets/_base.scss */
.mbottom-6 {
  margin-bottom: 30px;
}

/* line 473, ../../app/assets/stylesheets/_base.scss */
.mbottom-7 {
  margin-bottom: 35px;
}

/* line 474, ../../app/assets/stylesheets/_base.scss */
.mbottom-8, .gallery-type.soundcloud li {
  margin-bottom: 40px;
}

/* line 475, ../../app/assets/stylesheets/_base.scss */
.mbottom-9 {
  margin-bottom: 45px;
}

/* line 476, ../../app/assets/stylesheets/_base.scss */
.mbottom-10, #integrantes article {
  margin-bottom: 50px;
}

/* line 477, ../../app/assets/stylesheets/_base.scss */
.mbottom-11 {
  margin-bottom: 55px;
}

/* line 478, ../../app/assets/stylesheets/_base.scss */
.mbottom-12 {
  margin-bottom: 60px;
}

/* line 479, ../../app/assets/stylesheets/_base.scss */
.mbottom-13 {
  margin-bottom: 65px;
}

/* line 480, ../../app/assets/stylesheets/_base.scss */
.mbottom-14 {
  margin-bottom: 70px;
}

/* line 481, ../../app/assets/stylesheets/_base.scss */
.mbottom-15 {
  margin-bottom: 75px;
}

/* line 482, ../../app/assets/stylesheets/_base.scss */
.mbottom-16 {
  margin-bottom: 80px;
}

/* line 483, ../../app/assets/stylesheets/_base.scss */
.mbottom-17 {
  margin-bottom: 85px;
}

/* line 484, ../../app/assets/stylesheets/_base.scss */
.mbottom-18 {
  margin-bottom: 90px;
}

/* line 485, ../../app/assets/stylesheets/_base.scss */
.mbottom-19 {
  margin-bottom: 95px;
}

/* line 486, ../../app/assets/stylesheets/_base.scss */
.mbottom-20, #albums.index .gallery-type li.columns, #videos.index .gallery-type li.columns {
  margin-bottom: 100px;
}

/* line 487, ../../app/assets/stylesheets/_base.scss */
.mbottom-21 {
  margin-bottom: 105px;
}

/* line 488, ../../app/assets/stylesheets/_base.scss */
.mbottom-22 {
  margin-bottom: 110px;
}

/* line 489, ../../app/assets/stylesheets/_base.scss */
.mbottom-23 {
  margin-bottom: 115px;
}

/* line 490, ../../app/assets/stylesheets/_base.scss */
.mbottom-24 {
  margin-bottom: 120px;
}

/* line 491, ../../app/assets/stylesheets/_base.scss */
.mbottom-25 {
  margin-bottom: 125px;
}

/* line 492, ../../app/assets/stylesheets/_base.scss */
.mbottom-26 {
  margin-bottom: 130px;
}

/* line 493, ../../app/assets/stylesheets/_base.scss */
.mbottom-27 {
  margin-bottom: 135px;
}

/* line 494, ../../app/assets/stylesheets/_base.scss */
.mbottom-28 {
  margin-bottom: 140px;
}

/* line 495, ../../app/assets/stylesheets/_base.scss */
.mbottom-29 {
  margin-bottom: 145px;
}

/* line 496, ../../app/assets/stylesheets/_base.scss */
.mbottom-30 {
  margin-bottom: 150px;
}

/* line 498, ../../app/assets/stylesheets/_base.scss */
.ptop-1 {
  padding-top: 5px;
}

/* line 499, ../../app/assets/stylesheets/_base.scss */
.ptop-2, .share-links-type, #footer-bottom {
  padding-top: 10px;
}

/* line 500, ../../app/assets/stylesheets/_base.scss */
.ptop-3 {
  padding-top: 15px;
}

/* line 501, ../../app/assets/stylesheets/_base.scss */
.ptop-4 {
  padding-top: 20px;
}

/* line 502, ../../app/assets/stylesheets/_base.scss */
.ptop-5 {
  padding-top: 25px;
}

/* line 503, ../../app/assets/stylesheets/_base.scss */
.ptop-6 {
  padding-top: 30px;
}

/* line 504, ../../app/assets/stylesheets/_base.scss */
.ptop-7, .pagination-type {
  padding-top: 35px;
}

/* line 505, ../../app/assets/stylesheets/_base.scss */
.ptop-8 {
  padding-top: 40px;
}

/* line 506, ../../app/assets/stylesheets/_base.scss */
.ptop-9 {
  padding-top: 45px;
}

/* line 507, ../../app/assets/stylesheets/_base.scss */
.ptop-10, #facebook-comments {
  padding-top: 50px;
}

/* line 508, ../../app/assets/stylesheets/_base.scss */
.ptop-11 {
  padding-top: 55px;
}

/* line 509, ../../app/assets/stylesheets/_base.scss */
.ptop-12 {
  padding-top: 60px;
}

/* line 510, ../../app/assets/stylesheets/_base.scss */
.ptop-13 {
  padding-top: 65px;
}

/* line 511, ../../app/assets/stylesheets/_base.scss */
.ptop-14 {
  padding-top: 70px;
}

/* line 512, ../../app/assets/stylesheets/_base.scss */
.ptop-15 {
  padding-top: 75px;
}

/* line 513, ../../app/assets/stylesheets/_base.scss */
.ptop-16 {
  padding-top: 80px;
}

/* line 514, ../../app/assets/stylesheets/_base.scss */
.ptop-17 {
  padding-top: 85px;
}

/* line 515, ../../app/assets/stylesheets/_base.scss */
.ptop-18 {
  padding-top: 90px;
}

/* line 516, ../../app/assets/stylesheets/_base.scss */
.ptop-19 {
  padding-top: 95px;
}

/* line 517, ../../app/assets/stylesheets/_base.scss */
.ptop-20 {
  padding-top: 100px;
}

/* line 518, ../../app/assets/stylesheets/_base.scss */
.ptop-21 {
  padding-top: 105px;
}

/* line 519, ../../app/assets/stylesheets/_base.scss */
.ptop-22 {
  padding-top: 110px;
}

/* line 520, ../../app/assets/stylesheets/_base.scss */
.ptop-23 {
  padding-top: 115px;
}

/* line 521, ../../app/assets/stylesheets/_base.scss */
.ptop-24 {
  padding-top: 120px;
}

/* line 522, ../../app/assets/stylesheets/_base.scss */
.ptop-25 {
  padding-top: 125px;
}

/* line 523, ../../app/assets/stylesheets/_base.scss */
.ptop-26 {
  padding-top: 130px;
}

/* line 524, ../../app/assets/stylesheets/_base.scss */
.ptop-27 {
  padding-top: 135px;
}

/* line 525, ../../app/assets/stylesheets/_base.scss */
.ptop-28 {
  padding-top: 140px;
}

/* line 526, ../../app/assets/stylesheets/_base.scss */
.ptop-29 {
  padding-top: 145px;
}

/* line 527, ../../app/assets/stylesheets/_base.scss */
.ptop-30 {
  padding-top: 150px;
}

/* line 529, ../../app/assets/stylesheets/_base.scss */
.pbottom-0 {
  padding-bottom: 0;
}

/* line 530, ../../app/assets/stylesheets/_base.scss */
.pbottom-1 {
  padding-bottom: 5px;
}

/* line 531, ../../app/assets/stylesheets/_base.scss */
.pbottom-2, footer.main {
  padding-bottom: 10px;
}

/* line 532, ../../app/assets/stylesheets/_base.scss */
.pbottom-3 {
  padding-bottom: 15px;
}

/* line 533, ../../app/assets/stylesheets/_base.scss */
.pbottom-4 {
  padding-bottom: 20px;
}

/* line 534, ../../app/assets/stylesheets/_base.scss */
.pbottom-5 {
  padding-bottom: 25px;
}

/* line 535, ../../app/assets/stylesheets/_base.scss */
.pbottom-6, #facebook-comments {
  padding-bottom: 30px;
}

/* line 536, ../../app/assets/stylesheets/_base.scss */
.pbottom-7 {
  padding-bottom: 35px;
}

/* line 537, ../../app/assets/stylesheets/_base.scss */
.pbottom-8 {
  padding-bottom: 40px;
}

/* line 538, ../../app/assets/stylesheets/_base.scss */
.pbottom-9 {
  padding-bottom: 45px;
}

/* line 539, ../../app/assets/stylesheets/_base.scss */
.pbottom-10 {
  padding-bottom: 50px;
}

/* line 540, ../../app/assets/stylesheets/_base.scss */
.pbottom-11 {
  padding-bottom: 55px;
}

/* line 541, ../../app/assets/stylesheets/_base.scss */
.pbottom-12, h1.title, h2.title, h6.title, .region {
  padding-bottom: 60px;
}

/* line 542, ../../app/assets/stylesheets/_base.scss */
.pbottom-13 {
  padding-bottom: 65px;
}

/* line 543, ../../app/assets/stylesheets/_base.scss */
.pbottom-14 {
  padding-bottom: 70px;
}

/* line 544, ../../app/assets/stylesheets/_base.scss */
.pbottom-15 {
  padding-bottom: 75px;
}

/* line 545, ../../app/assets/stylesheets/_base.scss */
.pbottom-16, #contatos.new section {
  padding-bottom: 80px;
}

/* line 546, ../../app/assets/stylesheets/_base.scss */
.pbottom-17 {
  padding-bottom: 85px;
}

/* line 547, ../../app/assets/stylesheets/_base.scss */
.pbottom-18 {
  padding-bottom: 90px;
}

/* line 548, ../../app/assets/stylesheets/_base.scss */
.pbottom-19 {
  padding-bottom: 95px;
}

/* line 549, ../../app/assets/stylesheets/_base.scss */
.pbottom-20 {
  padding-bottom: 100px;
}

/* line 550, ../../app/assets/stylesheets/_base.scss */
.pbottom-21 {
  padding-bottom: 105px;
}

/* line 551, ../../app/assets/stylesheets/_base.scss */
.pbottom-22 {
  padding-bottom: 110px;
}

/* line 552, ../../app/assets/stylesheets/_base.scss */
.pbottom-23 {
  padding-bottom: 115px;
}

/* line 553, ../../app/assets/stylesheets/_base.scss */
.pbottom-24 {
  padding-bottom: 120px;
}

/* line 554, ../../app/assets/stylesheets/_base.scss */
.pbottom-25 {
  padding-bottom: 125px;
}

/* line 555, ../../app/assets/stylesheets/_base.scss */
.pbottom-26 {
  padding-bottom: 130px;
}

/* line 556, ../../app/assets/stylesheets/_base.scss */
.pbottom-27 {
  padding-bottom: 135px;
}

/* line 557, ../../app/assets/stylesheets/_base.scss */
.pbottom-28 {
  padding-bottom: 140px;
}

/* line 558, ../../app/assets/stylesheets/_base.scss */
.pbottom-29 {
  padding-bottom: 145px;
}

/* line 559, ../../app/assets/stylesheets/_base.scss */
.pbottom-30 {
  padding-bottom: 150px;
}

/* line 561, ../../app/assets/stylesheets/_base.scss */
.centered {
  margin: 0 auto;
  display: block;
  float: none;
  clear: none;
}

/*
=============================================
CLEAR FLOATS
=============================================
*/
/* line 576, ../../app/assets/stylesheets/_base.scss */
#menu:after,
#main:after,
#main #sidebar-first:after,
.region:after,
.inner:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 587, ../../app/assets/stylesheets/_base.scss */
#menu,
#main,
#main #sidebar-first,
.region,
.inner {
  zoom: 1;
}

/*
=============================================
X fancy (borders, radius, shadows,...)
=============================================
*/
/* line 600, ../../app/assets/stylesheets/_base.scss */
.radius-1,
.block .inner .content {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* line 603, ../../app/assets/stylesheets/_base.scss */
.radius-2,
#block-receta .inner,
.list-type li {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

/* line 604, ../../app/assets/stylesheets/_base.scss */
.radius-3 {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
}

/* line 605, ../../app/assets/stylesheets/_base.scss */
.radius-4 {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

/* line 606, ../../app/assets/stylesheets/_base.scss */
.radius-5 {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -o-border-radius: 25px;
  -khtml-border-radius: 25px;
  border-radius: 25px;
}

/* line 607, ../../app/assets/stylesheets/_base.scss */
.radius-6 {
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -o-border-radius: 30px;
  -khtml-border-radius: 30px;
  border-radius: 30px;
}

/* default color #1 (#bcbec0) */
/* line 610, ../../app/assets/stylesheets/_base.scss */
#null {
  border: 5px solid #bcbec0;
}

/* default color #2 (#6dcff6) */
/* line 613, ../../app/assets/stylesheets/_base.scss */
#null {
  border: 0px solid #6dcff6;
}

/* line 617, ../../app/assets/stylesheets/_base.scss */
#block-receta .inner,
.list-type li,
.tab h2.title {
  border: 2px solid #1b6f7e;
}

/* line 619, ../../app/assets/stylesheets/_base.scss */
#null {
  -moz-transition: none;
  /* FF3.7+ */
  -o-transition: none;
  /* Opera 10.5 */
  -webkit-transition: none;
  /* Saf3.2+, Chrome */
  transition: none;
}

/* line 623, ../../app/assets/stylesheets/_base.scss */
#home.index #main article header figure,
#winners-list li,
#winner #profile {
  -moz-transform: rotate(-5deg);
  webkit-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9961946980917455, M12=0.08715574274765817, M21=-0.08715574274765817, M22=0.9961946980917455, sizingMethod='auto expand');
  zoom: 1;
}

/* line 631, ../../app/assets/stylesheets/_base.scss */
#home.index #main article:hover header figure,
#winners-list li:hover,
#winner #profile:hover {
  bottom: 0%;
  -moz-transform: scale(1.1) rotate(-10deg);
  -webkit-transform: scale(1.1) rotate(-10deg);
  -o-webkit-transform: scale(1.1) rotate(-10deg);
  transform: scale(1.1) rotate(-10deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.984807753012208, M12=0.17364817766693033, M21=-0.17364817766693033, M22=0.984807753012208, sizingMethod='auto expand');
  zoom: 1;
}

/* line 639, ../../app/assets/stylesheets/_base.scss */
#albums #content .gallery-type li.columns h3:after,
.share-links-type .inner:after,
header h3:after,
.top-date:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: white transparent transparent transparent;
  position: absolute;
  top: 100%;
  left: 25px;
}

/* line 642, ../../app/assets/stylesheets/_base.scss */
.share-links-type .inner:after {
  visibility: visible;
}

/* line 645, ../../app/assets/stylesheets/_base.scss */
footer .btn:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  position: absolute;
  bottom: 98%;
  left: 25px;
}

/* line 649, ../../app/assets/stylesheets/_base.scss */
footer .btn.read-more:after {
  border-bottom-color: #4D4D4D;
}

/* line 650, ../../app/assets/stylesheets/_base.scss */
footer .btn.date:after {
  border-bottom-color: #4d0000;
}

/* line 651, ../../app/assets/stylesheets/_base.scss */
.top-date:after {
  border-top-color: #4d0000;
  left: auto;
  right: 25px;
}

/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* #Media Queries
================================================== */
/* line 665, ../../app/assets/stylesheets/_base.scss */
.dimension {
  height: 40px;
  background: white;
  color: black;
  display: none;
}

/* line 666, ../../app/assets/stylesheets/_base.scss */
.dimension:after {
  content: "max";
  background: white;
  position: fixed;
  bottom: 0;
  left: 0;
  color: black;
  z-index: 99999;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  /* line 669, ../../app/assets/stylesheets/_base.scss */
  .dimension:after {
    content: 'max-width: 959px';
  }

  /* line 670, ../../app/assets/stylesheets/_base.scss */
  header.region.border-region {
    height: 260px;
  }
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 675, ../../app/assets/stylesheets/_base.scss */
  .dimension:after {
    content: 'min-width: 768px, max-width: 959px';
  }

  /* line 676, ../../app/assets/stylesheets/_base.scss */
  header.region.border-region {
    height: 360px;
  }

  /* line 677, ../../app/assets/stylesheets/_base.scss */
  #contatos.new section .inner form .actions {
    width: 210px;
  }

  /* line 678, ../../app/assets/stylesheets/_base.scss */
  #contatos.new label {
    text-align: left;
  }

  /* line 679, ../../app/assets/stylesheets/_base.scss */
  #contatos.new section .inner.datos-contacto h4 {
    font-size: 1.9em;
  }
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  /* line 683, ../../app/assets/stylesheets/_base.scss */
  .dimension:after {
    content: 'max-width: 767px';
  }

  /* line 684, ../../app/assets/stylesheets/_base.scss */
  header.region.border-region {
    height: 360px;
  }

  /* Integrantes */
  /* line 687, ../../app/assets/stylesheets/_base.scss */
  #integrantes article {
    position: relative;
    padding-top: 70px;
  }

  /* line 688, ../../app/assets/stylesheets/_base.scss */
  #integrantes.show article {
    padding-top: 20px;
  }

  /* line 689, ../../app/assets/stylesheets/_base.scss */
  #integrantes article header {
    position: absolute;
    top: 0;
    left: 0;
  }

  /* line 690, ../../app/assets/stylesheets/_base.scss */
  #integrantes article figure {
    margin-bottom: 10px;
  }

  /* line 691, ../../app/assets/stylesheets/_base.scss */
  #contatos.new section .inner form .actions {
    width: 200px;
  }
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 696, ../../app/assets/stylesheets/_base.scss */
  .dimension:after {
    content: 'min-width: 480px, max-width: 767px';
  }

  /* line 697, ../../app/assets/stylesheets/_base.scss */
  header.region.border-region {
    height: 300px;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  /* line 702, ../../app/assets/stylesheets/_base.scss */
  .dimension:after {
    content: 'max-width: 479px';
  }

  /* line 703, ../../app/assets/stylesheets/_base.scss */
  header.region.border-region {
    height: 260px;
  }
}
