%section#preface-bottom.container.region
  %h6.title.sixteen.columns.omega Noticias
  
  - @posts.each do |post|
    %article.eight.columns
      %header
        %h2
          = post.titulo
      .four.columns.alpha
        = sanitize(simple_format(truncate(post.conteudo, :length => 370, :omission => '...')), :tags => %w(p i br b))
      %figure.four.columns.omega
        = link_to image_tag(post.imagen(:medium))
      %footer
        = link_to 'Leer Art’culo Completo', 'google.com', :class => 'btn read-more first'
        %span.btn.date.last 03 julio
      
